
/* CONNECTED ul style */

/* ul connected dot style */
ul.connected
{
	height: 100%;
	font-size: 1.0em;
	list-style: none;
	padding-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

ul.connected:before
{

}

ul.connected li
{
	position: relative;
	
	font-size: 1.5em;
	font-weight: 500;

	font-family: "Montserrat";
	letter-spacing: -1px;
	vertical-align: middle;
	

	padding-bottom: 2em;
	
	padding-left: 2em;
}

/* The round dot */
ul.connected li:before
{
	content:"";
	display: inline-block;
	position: absolute;

	vertical-align: middle;
	
	left: 0;
	
	height: 1.5em;
	width: 1.5em;
	
	background-color: white;
	border-radius: 5em;
	
	line-height: 10em;
	font-size: 0.5em;
	
	margin: 0;
	padding: 0;
	
	margin-right: 2em;
	padding-left; 0.4em;
	
	border: 0.8em solid rgb(50, 50, 50);
	box-sizing: content-box;
	
	padding-left: none;
}

/* The lines connecting them */
ul.connected li:after
{
	content:"";
	display: inline-block;
	position: absolute;
	
	vertical-align: middle;
	
	top: 0em;
	left: 1.2em;
	bottom: 0;
	

	width: 0.7em;
	
	background-color: white;
	
	line-height: 10em;
	font-size: 0.5em;
	
	margin: 0;
	padding: 0;
	
	margin-right: 2em;
	padding-left; 0.4em;
	z-index: 5;
}


ul.connected li:last-child
{
	padding-bottom: 0;
}

ul.connected li:last-child:after
{
	top:0em;
	height: 1em;
}

ul.connected li:first-child
{
	
}

ul.connected li:first-child:after
{
	top: 0.9em;
}

ul.connected li.active
{
	margin-left: 0em;
		vertical-align: middle;
}

ul.connected li.active:before
{
	border: 0.8em solid #00e1ff;
	box-sizing: content-box;
}